{{- define "pkgName" }} {{ . | quote }}{{ end -}}
{{- define "pkgCommand" }}cat | exec doas sh <<EOF
apk update && exec apk add{{ end }}
{{- define "pkgCommandSuffix" }}
EOF
{{ end -}}
{{- if or .os.alpine .os.chimera -}}
#!/bin/sh

echo >&2 Installing packages...

if [ `id -u` != "0" ] && ! command -v doas >/dev/null; then
  echo >&2 "Need to be a root or have doas/sudo installed"
  exit 1
fi

{{  $args := dict "packages" .packages -}}
{{- if .os.alpine -}}
{{-   $args = set $args "manager" "alpine-apk" -}}
{{- else if .os.chimera -}}
{{-   $args = set $args "manager" "chimera-apk" -}}
{{- end -}}

{{ template "enabled_packages" $args }}
{{ end -}}
