@echo off
set PATH=%USERPROFILE%\.local\bin;%PATH%

where less /q && (set PAGER=less & set LESS=--mouse)

doskey g=git
{{ range $alias, $command := .gitaliases -}}
doskey g{{ $alias }}=git {{ $command }}
{{ end -}}
{{ range $alias, $command := .aliases -}}
doskey {{ $alias }}={{ $command }}
{{ end -}}
