@echo off
set PATH=%USERPROFILE%\.local\bin;%PATH%

doskey g=git
{{ range $alias, $command := .gitaliases -}}
doskey g{{ $alias }}=git {{ $command }}
{{ end -}}
{{ range $alias, $command := .aliases -}}
doskey {{ $alias }}={{ $command }}
{{ end -}}
