[core]
editor = nvim

[user]
name = "Julie Koubova"
email = "julie@koubova.net"

[init]
defaultBranch = "main"

[fetch]
prune = true

[pull]
rebase = true

[diff]
colorMoved = "zebra"

[alias]
{{ range $alias, $command := .gitaliases -}}
{{ $alias }} = {{ $command }}
{{ end -}}

{{ if .os.wsl }}
[credential]
helper = "/mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe"
{{ end }}

