[core]
editor = nvim

[user]
name = "Julie Koubova"
email = "julie@koubova.net"

[init]
defaultBranch = "main"

[fetch]
prune = true

[pull]
rebase = true

[diff]
colorMoved = "zebra"

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[credential]
helper = "/mnt/c/Program\ Files/Git/mingw64/bin/git-credential-manager.exe"
{{   end }}
{{ end }}
