# vi:ft=swayconfig
{{- $width  := 3840 -}}
{{- $height := 2160 -}}
{{- $scale  := 1.60 -}}
{{- $right_x := (floor (divf $width $scale)) }}

output * mode  {{ $width }}x{{ $height }}@60Hz
output * scale {{ $scale }}

set $output_left  'Dell Inc. DELL U3223QE 3LHN5P3'
set $output_right 'Dell Inc. DELL U3223QE HS946P3'

# position has to be scaled
output $output_left  position 0 0
output $output_right position {{ $right_x }} 0

