#!/bin/sh
set -e

if command -v gsettings >/dev/null; then
  gsettings set org.gnome.desktop.interface cursor-theme "{{ .unixCursorTheme }}"
  gsettings set org.gnome.desktop.interface cursor-size  "{{ .unixCursorSize }}"
fi

