{{ if not .os.darwin }}
iterm2
{{ end }}

{{ if not .os.linux }}
emptty
fontconfig/
foot/
gtk-3.0/
kitty/
noctalia/
quickshell/
rofi/
sway/
swayidle/
swaylock/
waybar/
{{ end }}

{{ if not .os.unix }}
bc
htop/
zsh/
{{ end }}
