{{ if not .os.darwin }}
iterm2
{{ end }}

{{ if not .os.linux }}
fontconfig/
emptty
foot/
gtk-3.0/
kitty/
rofi/
sway/
swayidle/
swaylock/
waybar/
{{ end }}

{{ if not .os.unix }}
bc
htop/
zsh/
{{ end }}
